*
{
box-sizing: border-box;
}

body
{
background: #33cc99;
color: #fff;
}

form
{
position: relative;
}

a
{
color: #fff;
}

a:hover
{
text-decoration:none;
color: #fff;
}

.brdr
{
border: 3px #fff solid;
border-radius: 1.5em;
padding: 8px 8px;
}

.clrs
{
background: #33cc99;
color: #fff;
}

.menu
{
padding-top: 10%;
font-size: x-large;
}

.menu li
{
list-style: none;
}

.inpt-uuid
{
display: block;
width: 100%;
height: 2em;
line-height: 1.5em;
border-radius: 1.5em;
border: 3px #fff solid;
padding: 0 .6em;
}

.load-btn
{
position: absolute;
top: 0;
right: 0;
height: 2em;
line-height: 1em;
border-radius: 1.5em;
border: 3px #fff solid;
}

.sqr-btn
{
width: 80px;
height: 80px;
border: none;
}

.pot-clr-1
{
background: red;
}

.pot-clr-2
{
background: green;
}

.pot-clr-3
{
background: blue;
}

.pot-clr-4
{
background: yellow;
}

.pot-clr-5
{
background: black;
}

.cactus-clr-1
{
background: green;
}

.cactus-clr-2
{
background: green;
}

.cactus-clr-3
{
background: green;
}

.cactus-clr-4
{
background: green;
}

.cactus-clr-5
{
background: green;
}

.cont
{
	position: relative;
	width: 200px;
	height: 200px;
}

.round-section
{
	display: inline-block;
	width: 100px; height: 200px;
	background: #9CD6C0;
	border-radius: 50px/100px;

	position: absolute;
	left: 45%;
}

.square-section
{
	display: inline-block;
	height: 0; width: 100px;
	border-top: 100px solid #FFE344;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;

	position: absolute;
	top: 50%;
	left: 35%;
	right: 50%;
}