<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml">
<head>
	{{> meta}}
	<title>Как играть</title>
</head>
<body>
<div class="container">
	<div class="row">
		<section class="faq">
			<h3>Cheering Cactus - это кактус-тамагочи, который выдает подбадривающие фразы в ответ на заботу о нем.</h3>
			<ul>
				<li>Каждый кактус имеет свой уникальный код, который выдается при создании растения.
					Лучше его запомнить, чтобы не потерять питомца.</li>
				<li>При загрузке игры вводится этот код.</li>
				<li>За кактусом можно ухаживать: поливать, гладить, обнимать. За это он будет вас подбадривать.</li>
				<li>Зачахнуть совсем растение не сможет: кактусы все-таки довольно выносливые.</li>
				<li>Можно менять цвета горшка и кактуса.</li>
			</ul>
		</section>
	</div>
</div>
</body>
</html>